.ble-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 0;
}

.upper-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

.radio {
    font-size: 26rpx;
}

.lower-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.main-button {
    width: 260rpx;
    height: 70rpx;
    color: white;
    font-size: 30rpx;
    line-height: 70rpx;
    text-align: center;
    background-color: #00BE63;
}

.info {
    flex: end;
    width: 260rpx;
    font-size: 28rpx;
}

.info-text {
    text-align: right;
}

.normal {
    color: #00BE63;
}

.error {
    color: #DD524D;
}

.tips-container {
    margin-top: 10rpx;
    text-align: left;
}

.tips {
    text-align: right;
}
